.portContainer{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 16px;
}

.inPorts{
    flex-grow: 1;
}
.outPorts{
    flex-grow: 1;
}

.port{
    margin-top: 2px;
    margin-bottom: -16px; /* Not good enough */
    background-color: rgba(21, 21, 21, 0.25);
    
    display: flex;

    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.07);
}

.port.output{
    flex-direction: row-reverse;
    text-align: right;
}

.port > *{
    flex: auto;
    margin: 0;
    color: aliceblue;
}

.output >  *{
}

.socket{
    background-color: rgb(255, 255, 255);
    border-color: #b0f6ff;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    
    flex: 0 auto;
    
    /*margin: -4px;
    margin-top: 10px;*/
    width: 12px;
    height: 12px;
    
    z-index: 5;
}
.output > .socket{
    
}

.socket:hover{
    width: 14px;
    height: 14px;
    
}

.output > .portlabel{
    
    
}

.portLabel{
    color: rgba(0, 0, 0, 0.67);
    background-color: rgba(255, 255, 255, 0.32);
    flex: 0 auto;
    margin: 1px;
    
}